# Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

In [8]:
#csv read function
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [7]:
head = df.head()

In [9]:
col = df.columns

In [10]:
pd.Categorical(df["Pclass"])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [12]:
data = pd.DataFrame(df)

In [13]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [14]:
t = df.tail()

In [15]:
t

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [17]:
data = {"A" : [1,2,3],
       "B" : [4,5,6],
       "C" : [7,8,9,]}

In [18]:
df = pd.DataFrame(data)

In [19]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

 # Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console. For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [40]:
data1 = {"values" : [10,20,30,40,50,]}
df = pd.DataFrame(data1)
def first_three(df):
    column = df["values"].iloc[:3]
    sum_of_first_three = column.sum()
    print(sum_of_first_three)

In [43]:
first_three(df)

60

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [45]:
data2 = {"text" :["This is data science course" , "This course help in increasing knowledge" , "this course demanding these days"]}
df = pd.DataFrame(data2)

In [48]:
df["word_count"] = df["text"].apply(lambda x : len(x.split()))

In [50]:
df

                                       text  word_count
0               This is data science course           5
1  This course help in increasing knowledge           6
2          this course demanding these days           5

# Q5. How are DataFrame.size() and DataFrame.shape() different?

In [51]:
DataFrame.size() and DataFrame.shape are both attributes of a Pandas DataFrame, but they provide different information about the DataFrame:

DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame.
It gives you the count of all elements, including both rows and columns.
The size is equal to the product of the number of rows and the number of columns in the DataFrame.
The size attribute does not require parentheses when accessing it.
DataFrame.shape:

DataFrame.shape returns a tuple representing the dimensions of the DataFrame.
It gives you the number of rows and the number of columns in the DataFrame.
The shape attribute is a tuple in the format (number_of_rows, number_of_columns).
The shape attribute does not require parentheses when accessing it.

SyntaxError: invalid syntax (2602678202.py, line 1)

# Q6. Which function of pandas do we use to read an excel file?

In [ ]:
# import pandas as pd
# df = pd.read_excel("file name")

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [7]:
import pandas as pd
email_id = {"email" : ["abhi@domain.com","sudh@domain.com","ram@domain.com","shyam@domain.com"]}
df = pd.DataFrame(email_id)

In [8]:
def email_function(data3):
    df["email"].str.split("@",expand = True)
    df["username"] = df["email"].apply(email_function)

In [ ]:
#  Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
# all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
# function should return a new DataFrame that contains only the selected rows.
# For example, if df contains the following values:
# A B C
# 0 3 5 1
# 1 8 2 7
# 2 6 9 4
# 3 2 3 5
# 4 9 1 2
# Your function should select the following rows: A B C
# 1 8 2 7
# 4 9 1 2
# The function should return a new DataFrame that contains only the selected rows.

In [11]:
data = {"A" :[0,1,2,3,4],
       "B" : [3,8,6,2,9],
       "C" : [5,2,9,3,1]}

In [ ]:


def test(df):
    selected_rows = df[(df["A"] > 5) & (df["B"] < 10)]
    return selected_rows

# Call the function to select rows based on the conditions
selected_df = test(df)

# Print the DataFrame with only the selected rows
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [4]:
data1 = {"values" : [1,2,3,4,5,6,7]}
df = pd.DataFrame(data1)
def calculation(df):
    mean_cal= df["values"].mean()
    median_cal = df["values"].median()
    std_cal = df["values"].std()
    return mean_cal, median_cal, std_cal

mean_cal, median_cal, std_cal = calculation(df)
print(mean_cal)
print(median_cal)
print(std_cal)

4.0
4.0
2.160246899469287

# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [28]:
import pandas as pd
data = {'Date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08', '2023-07-09', '2023-07-10', '2023-07-11', '2023-07-12', '2023-07-13', '2023-07-14', '2023-07-15', '2023-07-16', '2023-07-17', '2023-07-18', '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-22', '2023-07-23', '2023-07-24', '2023-07-25', '2023-07-26', '2023-07-27'],
    'Sales': [100, 150, 200, 120, 180, 220, 210, 190, 160, 140, 180, 250, 280, 300, 320, 200, 180, 230, 270, 280, 310, 290, 270, 240, 200, 190, 210, 230]}
df = pd.DataFrame(data)
def calculating_average(df):
    
    df["MovingAverage"] = df['Sales'].apply(calculating_average)
    return df
df = calculating_average(df)
print(df)

ValueError: All arrays must be of the same length

#  Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
# column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
# Monday, Tuesday) corresponding to each date in the 'Date' column.
# For example, if df contains the following values:
# Date
# 0 2023-01-01
# 1 2023-01-02
# 2 2023-01-03
# 3 2023-01-04
# 4 2023-01-05
# Your function should create the following DataFrame:

# Date Weekday
# 0 2023-01-01 Sunday
# 1 2023-01-02 Monday
# 2 2023-01-03 Tuesday
# 3 2023-01-04 Wednesday
# 4 2023-01-05 Thursday
# The function should return the modified DataFrame.

In [26]:
data = {"date" :  ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07']}
df = pd.DataFrame(data)
def add_weekday(df):
    df["date"] = pd.to_datetime( df["date"])
    
    df["weekday"] = df["date"].dt.strftime('%A')
    return df
df = add_weekday(df)
print(df)

        date    weekday
0 2023-07-01   Saturday
1 2023-07-02     Sunday
2 2023-07-03     Monday
3 2023-07-04    Tuesday
4 2023-07-05  Wednesday
5 2023-07-06   Thursday
6 2023-07-07     Friday

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [31]:
data = {"Date" :[ "2023-01-01" , "2023-01-25" ,"2023-03-01" ,"2023-03-25" ,"2023-01-201" , "2023-05-10" ,"2023-01-31" ] }
df = pd.DataFrame(data)

In [34]:
def date_function(df):
    df["Date"] = pd.to_datetime( df["Date"])
    start_date = "2023-01-01"
    end_date = "2023-01-31"
    
    selected_rows = df[(df["Date"] >= start_date) & (df["Date"] <= end_date)]
    
    return selected_rows

selected_df = date_function(df)

print(selected_df)

ParserError: Unknown string format: 2023-01-201 present at position 4

# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?